<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Storyquiz.io | <%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/my_responsive.css" rel="stylesheet">

    <!-- Instagram Story Demo CSS -->
    <link rel="stylesheet" href="/assets/css/zuck.css">
    <link rel="stylesheet" href="/assets/css/snapgram.css">

    <!-- Domus Font -->
    <link rel="stylesheet" href="https://use.typekit.net/hfm8knh.css">

    <script src="/assets/vendor/jscolor/jscolor.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139353564-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-139353564-1');
    </script>

</head>

