<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/assets/img/logo.svg">
        </a>
        <button class="navbar-toggler" id="quiz-menu-toggle-btn"
                type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Example</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/prices">Price</a>
                </li>
                <li class="nav-item">
                    <% if(session.login) {  %>
                        <a class="nav-link" href="/account-setting">Account: <span style="color: #007bff"><%= session.user.email %></span></a>
                    <%  } else {  %>
                        <a class="nav-link" href="/auth/login">Login/Register</a>
                    <% } %>
                </li>
                <% if(session.login) {  %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
                <%  }   %>
            </ul>
        </div>
    </div>
</nav>
