<!DOCTYPE html>
<html lang="en">

<%- include ../layouts/header.ejs %>

<body>

<%- include ../layouts/menubar.ejs %>

<div class="container" id="main-content">
    <div class="row">
        <div class="offset-lg-3 col-lg-6">
            <h1 class="page-not-found-title text-center">Oops, 404!</h1>
            <p class="text-center">The page you requested could not be found, either contact your webmaster or try again. Use your browser's Back button to navigate to the page you have previously come from. </p>
        </div>
    </div>
</div>

<%- include ../layouts/footer.ejs %>

</body>
</html>
